$nav-hover:#C3BFF8;
$nav-color:#6F66EE;
$black-color:#111111;
$black0-color:#000000;
$white-color:#FFFFFF;
$grey-color:#F2F2F2;
$section-bg-color:#F0EFFD;
$svg-bg-color:#C3BFF8;
$section-pink-bg:#FBECED;
$footer-bg-color:#333333;
